<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h3><%= @post.title %></h3>
  </div>

  <div class="panel-body">
  	<p><%= @post.content %></p>
  </div>
  <% if @post.user %>
	<div class="panel-footer">By <%= @post.user.full_name %></div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  	Comments
  </div>
   <ul class="list-group">
     <% Comment.where(post_id:@post.id).each do |comment| %>
      <li class="list-group-item"><%= comment.content %></li>
     <% end %>
    <li class="list-group-item">
    	<%= render partial: 'comment_form', locals: {post: @post} %>
    </li>
  </ul>

</div>

<div class="btn-group pull-right" role="group">
  	<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
    <%= link_to 'Back', posts_path ,class: "btn btn-default" %>
</div>
